<div class="transactionContainer">
    <div class="detailsContainer">
        <div class="detailsHolder">
            <div class="headingContainer">
                <div class="headingHolder">
                    <div class="label">
                        Grower
                    </div>
                    <div class="heading">
                        {{currentGrower.name}}
                    </div>
                </div>
            </div>

            <div class="orderContainer">
                <div class="orderHolder">
                    <div class="calculationHolder">
                        <div class="column">
                            <div class="label">
                                No of Boxes
                            </div>
                            <div class="inputHold">
                                <input type="text" class="mdText" #boxes [value]="noOfBoxes!=undefined?noOfBoxes:''"
                                    (input)="calculateAmount(boxes,price)">
                            </div>
                        </div>

                        <div class="column">
                            <div class="label">
                            </div>
                            <div class="mulIcon">
                                X
                            </div>
                        </div>
                        <div class="column">
                            <div class="label">
                                Price per box
                            </div>
                            <div class="inputHold">
                                <input type="text" #price [value]="pricePerBox!=undefinded?pricePerBox:''"
                                    (input)="calculateAmount(boxes,price)">
                            </div>
                        </div>
                    </div>
                    <div class="orHolder">
                        <div class="orIcon">
                            or
                        </div>
                    </div>
                    <div class="amountHolder">
                        <div class="column">
                            <div class="label">
                                Amount
                            </div>
                            <div class="inputHold">
                                <input type="text" class="mdText" [(ngModel)]="totalAmount==undefinded?'':totalAmount">
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="amountDetails">

                <div class="row">
                    <div class="col">
                        <div class="lab">
                            Transaction Amount
                        </div>

                    </div>
                    <div class="col">
                        {{totalAmount}} inr
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="lab">
                            Previous Balance
                        </div>
                    </div>
                    <div class="col">
                        {{prevBal}} inr
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <div class="lab">
                            Amount need to be paid to grower
                        </div>

                    </div>
                    <div class="col">
                        {{totalBal}}
                    </div>
                </div>
            </div>
            <div class="buttonContainer">
                <div class="buttonHolder">
                    <input type="button" value="Cancel" class=" butn cancelBtn" (click)="clear()">
                    <input type="button" value="Proceed" class="butn nrmlBtm" (click)="proceedTransaction()">
                </div>

            </div>
        </div>
    </div>
    <div class="eTransactionContainer">
        <div class="earlierTransactionsHolder">
            <div class="eHeading">
                <div class="labelHead">
                    Earlier Transactions
                </div>
                <div class="searchField">
                    <div class="inputHold">
                        <input type="text" class="mdText" placeholder="search transaction...">
                    </div>
                </div>
            </div>

            <div class="transactions">
                <ng-container *ngFor="let eachTransaction of growerTransactions">

                <div class="transactionBox" >
                    {{eachTransaction.date}}
                </div>
                </ng-container>
            </div>
        </div>
    </div>

</div>

<ng-container *ngIf="displayPopup">
    <div class="popupContainer">
        <div class="popupHolder">
            <div class="popupContent">

                <div class="row">
                    <div class="col">
                        <div class="label">
                            Total amount need to be paid to grower
                        </div>

                    </div>
                    <div class="col">
                        <div class="colContent">
                            {{totalBal}}
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="label">
                            Now Paying
                        </div>

                    </div>
                    <div class="col">
                        <div class="inputHold">
                            <input type="text" class="mdText" #payNow (input)=calculateRemBal(payNow.value)>
                        </div>
                    </div>

                </div>

                <hr>
                <div class="row">
                    <div class="col">
                        <div class="label">
                            Remaining
                        </div>

                    </div>
                    <div class="col">
                        <div class="colContent themeColor">
                            {{remBal}} inr
                        </div>
                    </div>
                    
                </div>

                <div class="buttonContainer">
                    <div class="buttonHolder">
                        <input type="button" value="Back" class=" butn cancelBtn" (click)=hidePopup()>
                        <input type="button" value="Complete Transaction" class="butn mdBtn" (click) ="completeTransaction()">
                    </div>

                </div>


            </div>

        </div>

    </div>
</ng-container>