
.appleComponentContainer{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;

}
.container_apple{
    background: white;
    height: 100%;
    width: 100%;
}
.contents{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    position: relative;
    background: #e9eff6;
}
.mainContent{
    overflow: hidden;
}
.circleContainer{
    height: 60%;
    width: 60%;
    padding: 20vw 0 0 20vw;
    box-sizing: border-box;
}
.smallcirle{
    width: 13vw;
    height: 13vw;
    background: #F3DCDC;
    border-radius: 50%;
    position: relative;
    min-width: 100px;
    min-height: 100px;
}
.bigcirle{
    width: 20vw;
    height: 20vw;
    background: #FFEFEF;
    border-radius: 50%;
    position: absolute;
    top: -80%;
    left: -85%;
    min-width: 150px;
    min-height: 150px;
}
.background_apple{
    width:80vw;
    height:80vw;
    background:#e4f7ff;
    transform:translate(-50%) rotate(50deg);
    position:absolute;
    border: 2px solid white;
    z-index:-1000;
      box-shadow: 0 0 3px 2px #6c676752;  
}
.background_apple img{
    width: 100%;
    filter: opacity(.2) blur(3px);
}