<div class="appleComponentContainer">
    <div class="background_apple">
       <!-- <div class="container_apple">
            <div class="circleContainer">
                <div class="smallcirle">
                    <div class="bigcirle"></div>
                </div>
            </div>-->

            <!--<img src="../assets/apples.jpg" alt="">
        </div>-->
    </div>
    <div class="contents">
        <div>
            <app-header></app-header>
        </div>
        <div class="mainContent">
            <router-outlet></router-outlet>
        </div>  
        
    </div>




</div>