.mainContainer {
    box-sizing: border-box;
    padding: 10px;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
}

.controlsContainer {
    background: #ebe6e6;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
}
table.mat-table {
    border-spacing: 0;
    width: 90%;
    /* height: 90%; */
}
.tableContainer{
    overflow:hidden;
    display: grid;
    grid-template-rows: auto 1fr;
}
.table{
    overflow:auto;
    display: flex;
    justify-content: center;
}
.tabs {
  overflow: hidden;
  background-color: #f1f1f1;
}


.tabs button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tabs button:hover {
    background-color: #f09f9f;
  }
.tabs button.active {
    background-color: #f57272;
  }



.content {
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}


.textContainer {
  width: 80%;
  padding-bottom: 15vh;
}
.heading {
  font-size: 40px;
  padding: 10px 20px 0 20px;
}
.description {
  font-size: 30px;
  padding: 20px 20px 0 20px;
}
.verticalBarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.verticalBar {
  border-left: 4px solid #f4e2e2;
  height: 80%;
}
.sideView {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnContainer {
  margin-top: 8vh;
  display: block;
}
.btngroup {
  width: 80%;
  padding-bottom: 15vh;
}
.btn {
  background: #f57272;
  width: 158px;
  height: 62px;
  box-shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.11);
  border-radius: 4px;
  color: #fff;
  font-size: 27px;
  cursor: pointer;
  border: 0;
}
