 <div class="headerContainer">
            <div class="brand">
                Lorem, ipsum.
            </div>
            <div class="navbar-umb">
                <li class="nav-item-umb active">
                    <a class="nav-link" href="#">Home
                      <span class="sr-only">(current)</span>
                    </a>
                  </li>
                  <li class="nav-item-umb">
                    <a class="nav-link" href="#">Features</a>
                  </li>
                  <li class="nav-item-umb">
                    <a class="nav-link" href="#">Pricing</a>
                  </li>
            </div>


        </div>