<div class="mainContainer">
    <div class="controlsContainer">
       
        <div class="controls">
            <div class="buttonsContainer">
                <button (click)="addNew()"><i class="material-icons">
                    person_add
                    </i>Add New</button>
              
            </div>
            <div class="search">

                <mat-form-field>
                   
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Grower">
                </mat-form-field>
            </div>            
        </div>      
    </div>

    

    <div class="tableContainer">
        <div class="tableHolder">
            <div class="table">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                    <!-- Name Column -->
    
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="growerName"><a [routerLink]="[element.name]"><span>{{element.name}}</span></a></div>
                        </td>
                    </ng-container>
                    <!-- Khata Column -->
                    <ng-container matColumnDef="khata">
                        <th mat-header-cell *matHeaderCellDef> Khata </th>
                        <td mat-cell *matCellDef="let element"> {{element.khata}} </td>
                    </ng-container>
    
                    <!-- Address Column -->
                    <ng-container matColumnDef="address">
                        <th mat-header-cell *matHeaderCellDef> Address </th>
                        <td mat-cell *matCellDef="let element"> {{element.address}} </td>
                    </ng-container>
    
                    <!-- PhoneNo Column -->
                    <ng-container matColumnDef="phone">
                        <th mat-header-cell *matHeaderCellDef> Phone </th>
                        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Action </th>
                        <td mat-cell *matCellDef="let element">
                             <i class="material-icons" (click)="onEdit(element)" >edit</i> </td>
                    </ng-container>
    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
           
        </div>
    </div>


</div>


<!--<ng-container *ngIf="showAddGrowerDialog">
    <div class="popupContainer">
        <div class="popup">
            <div class="addGrowerContentHolder">
                <div class="header">
                    <header>
                        Add New Grower
                    </header>
                    <span><i (click)="closeAddGrowerDialog()" class="material-icons">close</i></span>

                </div>

                <div class="content">
                    <form [formGroup]="growerFormData" (ngSubmit)="onSubmit()">
                        <div class="form-content-umb">
                            <div class="input_fields">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputName">Name</label>
                                        <input type="text" class="form-control" id="inputName" placeholder="Name"
                                            formControlName="name">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputKhata">Khata</label>
                                        <input type="text" class="form-control" id="inputKhata" placeholder="Khata"
                                        formControlName="khata">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputAddress">Address</label>
                                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St"
                                    formControlName="address">
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="inputPhone">Phone</label>
                                        <input type="tel" class="form-control" id="inputPhone" placeholder="1234-1234"
                                        formControlName="phone">

                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputDistrict">District</label>
                                        <input type="text" class="form-control" id="inputDistrict" formControlName="district">
                                    </div>

                                    <div class="form-group col-md-2">
                                        <label for="inputZip">Zip</label>
                                        <input type="text" class="form-control" id="inputZip" formControlName="zip">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <span class="upload-btn" (click)="upload.click()"><label>Upload Image</label><i
                                            class="material-icons">
                                            folder
                                        </i></span>
                                    <img [src]="url" height="150" *ngIf="showImage"> <br />
                                    <input style="display: none;" type='file' name="Upload Image"
                                        (change)="onSelectFile($event)" #upload formControlName="image">
                                </div>
                            </div>

                            <div class="controls">
                                <button (click)="closeAddGrowerDialog()">Cancel</button>
                                <button type="submit" value="submit">Add</button>

                            </div>
                        </div>


                    </form>
                </div>
            </div>


        </div>
    </div>
</ng-container>-->

<ng-container *ngIf="showGrowerDialog">
    <div class="popupContainer">
        <div class="popup">
            <div class="addGrowerContentHolder">
                <div class="header">
                    <header>
                        <ng-container *ngIf="addGrower;else updateGrower">
                            Add New Grower
                        </ng-container>
                        <ng-template #updateGrower>
                            Update
                        </ng-template>
                        
                    </header>
                    <span><i (click)="closeGrowerDialog()" class="material-icons">close</i></span>

                </div>

                <div class="content">
                    <form [formGroup]="growerFormData" (ngSubmit)="onSubmit()">
                        <div class="form-content-umb">
                            <div class="input_fields">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputName">Name</label>
                                        <input type="text" class="form-control" id="inputName" placeholder="Name"
                                            formControlName="name">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputKhata">Khata</label>
                                        <input type="text" class="form-control" id="inputKhata" placeholder="Khata"
                                        formControlName="khata">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputAddress">Address</label>
                                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St"
                                    formControlName="address">
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="inputPhone">Phone</label>
                                        <input type="tel" class="form-control" id="inputPhone" placeholder="1234-1234"
                                        formControlName="phone">

                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputDistrict">District</label>
                                        <input type="text" class="form-control" id="inputDistrict" formControlName="district">
                                    </div>

                                    <div class="form-group col-md-2">
                                        <label for="inputZip">Zip</label>
                                        <input type="text" class="form-control" id="inputZip" formControlName="zip">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <span class="upload-btn" (click)="upload.click()"><label>Upload Image</label><i
                                            class="material-icons">
                                            folder
                                        </i></span>
                                    <img [src]="url" height="150" *ngIf="showImage"> <br />
                                    <input style="display: none;" type='file' name="Upload Image"
                                        (change)="onSelectFile($event)" #upload formControlName="image">
                                </div>
                            </div>

                            <div class="controls">
                                <button (click)="closeGrowerDialog()">Cancel</button>

                                <button type="submit" value="submit">
                                <ng-container *ngIf="addGrower; else updateGrower">
                                    Add
                                </ng-container>
                                <ng-template #updateGrower>
                                    Update
                                </ng-template>
                                    
                                </button>

                            </div>
                        </div>


                    </form>
                </div>
            </div>


        </div>
    </div>
</ng-container>





<!--<div class="mainContainer">
    <div class="content">

        <div class="contentHolder">
            <div class="searchContainer">
                <div class="search">
                    <div class="bigLabel">
                        Exiting Grower
                    </div>
                    <div class="dropdownContainer">
                        <div class="dropdownHolder">
                            <div class="iconHolder">
                                <i class="fa fa-search"></i>
                            </div>
                            <div class="dropdowninputHolder">
                                <input type="text" [disabled]="!inputdisabled" placeholder="Select grower..."
                                    [value]="inputdisabled?selectedItem?.name:''">
                            </div>
                            <div class="iconHolder">
                                <div class="trangle" (click)="showOrHideDropdown()"></div>
                            </div>

                        </div>
                        <ng-container *ngIf="showDropdownMenu">
                            <div class="dropdown">
                                <ul>
                                    <li *ngFor="let item of dropdownItems" (click)="onSelectItem(item)">{{item.name}}
                                    </li>
                                </ul>
                            </div>
                        </ng-container>
                    </div>
                </div>

            </div>
            <div class="cardContainer">
                <div *ngFor="let user of dropdownItems" class="cards"
                    (click)="openGrowerDetails(user)">
                    <div class="card">
                        <h5>{{user.name}}</h5>
                        {{user.khata}}
                        {{user.adderss}}
                        {{user.phone}}
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="verticalBarContainer">
        <div class="verticalBar">
        </div>
    </div>

    <div class="sideView">
        <div class="btngroup">
            <div class="btnContainer">
                <input class="btn" type="button" value="Add New Grower" name="grower" (click)="addNewGrower()">
            </div>
        </div>
    </div>
</div>
-->